@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />

<p>This website is used to manage a database that shows beverages and their pack size, cost, and whether they are currently active or not.</p>
<p>Users that are logged into the website can view and filter the database and edit it as needed.</p>
