@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />

<address>
    Bevman Road<br />
    Bevager, BM 98765-4321<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@beverage.manager">Support@beverage.manager</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@beverage.manager">Marketing@beverage.manager</a>
</address>