@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Beverage Manager</h1>
    <p class="lead">Beverage Manager is a website used to manage a beverage database.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To begin viewing and managing the beverage database, register for an account or log in and go to the Beverages tab.
        </p>
        <p>
            <a class="btn btn-default" @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
            <a class="btn btn-default" @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>For more information, go to the About tab.</p>
        <p><a class="btn btn-default" @Html.ActionLink("About", "About", "Home")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Information</h2>
        <p>If you wish to contact us, head over to the Contact tab and try mailing or e-mailing us.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Contact", "Contact", "Home")</a></p>
    </div>
</div>